* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --semi-trans-bg: rgba(0, 0, 0, 0.55);
    --backgorund-image: url("images/halie.jpg");
    --font-color: ivory;
    --font-familia: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --flex-size-sm: 1;
    --flex-size-lg: 2;
    --letter-space: 2px;
    --credits-font-size: 10px;

    /* Logo size */
    --logo-height: 125px;
    --logo-width: auto;

    /* Right backgorund color */
    --bg-color-right: whitesmoke;

    /* Right side padding for each container */
    --container-padding: 20px 150px 25px 40px;

    --right-side-font-size-bg: 24px;

    /* Style for inputs */
    --input-width: 255px;
    --input-height: 35px;
    --input-border-radius: 8px;
    --input-border: 1px solid rgba(0, 0, 0, 0.225);
    --input-padding: 6px 10px;
    --input-font-size: 13px;
    --input-letter-spacing: 1px;
    --input-font-weight: 600;
    --input-font-family: inherit;
    --input-transition: 300ms;

    /* For input focus */
    --input-outline: 1px solid rgba(0, 0, 255, 0.824);
    --input-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.412);

    /* For outline pass */
    --pass-outline: 1px solid red;

    /* Style for Create Account button */
    --btn-background-color: #596D48;
    --btn-border: none;
    --btn-border-radius: 6px;
    --btn-color: ivory;
    --btn-font-weight: 800;
    --btn-font-family: inherit;
    --btn-font-size: 15px;
    --btn-padding: 12px 55px;
}

body {
    font-family: var(--font-familia);
}

main {
    display: flex;
    height: 100vh;
}

.imageSideLogo {
    background-image: var(--backgorund-image);
    background-size: cover;
    color: var(--font-color);
    flex: var(--flex-size-sm);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.logoAndNameCon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--semi-trans-bg);
    margin-top: 32%;
    padding: 15px;
}

.logo {
    height: var(--logo-height);
    width: var(--logo-width);
}

.logoName {
    font-size: 5rem;
    letter-spacing: var(--letter-space);
}

.credits {
    background-color: var(--semi-trans-bg);
    padding: 7px;
    font-size: var(--credits-font-size);
    letter-spacing: var(--letter-space);
}

.credits a {
    color: var(--font-color);
}

.textSideForms {
    flex: var(--flex-size-lg);
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

form {
    flex: var(--flex-size-lg);
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}

.quoteCon {
    background-color: var(--bg-color-right);
    padding: var(--container-padding);
    font-size: var(--right-side-font-size-bg);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: var(--flex-size-lg);
    gap: 20px;
}

.formInfo {
    padding: var(--container-padding);
    font-size: var(--right-side-font-size-bg);
    display: flex;
    flex-direction: column;
    flex: var(--flex-size-sm);
    gap: 15px;
}

.labelInputCon {
    display: flex;
    gap: 15%;
}

label {
    font-size: 12px;
    font-weight:bolder;
    letter-spacing: var(--letter-space);
}

input {
    width: var(--input-width);
    height: var(--input-height);
    border-radius: var(--input-border-radius);
    border: var(--input-border);
    padding: var(--input-padding);
    font-size: var(--input-font-size);
    letter-spacing: var(--input-letter-spacing);
    font-weight: var(--input-font-weight);
    font-family: var(--input-font-family);
    transition: var(--input-transition);
}

input:focus {
    outline: var(--input-outline);
    box-shadow: var(--input-box-shadow);
}

.pass:user-invalid {
    outline: var(--pass-outline);
}

.con {
    display: flex;
    flex-direction: column;
}

.aditional {
    background-color: var(--bg-color-right);
    padding: var(--container-padding);
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: var(--flex-size-sm);
    gap: 20px;
}

.createBtn {
    background-color: var(--btn-background-color);
    border: var(--btn-border);
    border-radius: var(--btn-border-radius);
    color: var(--btn-color);
    font-weight: var(--btn-font-weight);
    font-family: var(--btn-font-family);
    font-size: var(--btn-font-size);
    padding: var(--btn-padding);
}

.aditional p a {
    color: #596D48;
    text-decoration: none;
}